.search-container {
	background-color: blanchedalmond;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.search-result-container {
	max-width: 750px;
	margin: auto;
	/* background-color: antiquewhite; */
}

.search-result-item {
	border-top: 2px solid whitesmoke; 
	border-bottom: 2px solid whitesmoke;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: -2px;
}

.page-title {
	text-align: center;
}